

                    <div class="card">
                    <div class="card-body">
                        <div class="container px-4">
                            <div class="row gx-5">
                                <div class="col">
                                    <div class="p-3 border bg-light table-responsive">Services</div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Service Name</th>
                                                <th scope="col">Base Price</th>
                                                <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-outline-dark btn-small">Add services</button> 
                        </div> 
                    </div>
                    </div>
                
                    <div class="card">
                    <div class="card-body">
                        <div class="container px-4">
                
                            <div class="row gx-5">
                                <div class="col">
                                    <div class="p-3 border bg-light table-responsive">Professionals</div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Years of Experience</th>
                                                <th scope="col">Service Name</th>
                                                <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                        </table>                                
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="card">
                    <div class="card-body">
                        <div class="container px-4">
                            <div class="row gx-5">
                                <div class="col">
                                    <div class="p-3 border bg-light table-responsive">Service Requests</div>
                                        <table class="table">
                                            <thead>
                                                    <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Assigned Professional</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Date of request</th>
                                                    <th scope="col">Date of completion</th>
                                                    <th scope="col">Customer ID</th>
                                                    <th scope="col">Remarks</th>
                                                    </tr>
                                            </thead>
                                        </table> 
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

