<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Signup as service professional</title>
    </head>
    <body>
        <div class = "my_container">
            <div class = "center"> <h1>CareConnect-Connect with service professionals</h1></div>
            <div class="my_panel">
                <div class = "center"><h3>Signup as service professional</h3></div>
                <div class="input_form">

                    <div class="mb-3">
                        <label for="User_id" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="User_id" placeholder="name@example.com">
                    </div>
                    
                    <div class="mb-3">
                        <label for="Contact Number" class="form-label">Contact Number</label>
                        <input type="numbers" class="form-control" id="Contact Number" placeholder="1234567890">
                    </div>
                
                
                    <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        <input type="Password" class="form-control" id="Password" placeholder="Password">
                    </div>

                    <div class="mb-3">
                        <label for="Full Name" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="Full Name" placeholder="Full Name">
                    </div>

                    <div class="mb-3">
                        <label for="Address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="Address" placeholder="Address">
                    </div>

                    <div class="mb-3">
                        <label for="PinCode" class="form-label">PinCode</label>
                        <input type="numbers" class="form-control" id="PinCode" placeholder="PinCode">
                    </div>

                    <div class="mb-3">
                        <label for="Service Expertise" class="form-label">Service Expertise</label>
                        <input type="text" class="form-control" id="Service Expertise" placeholder="Cleaning">
                    </div>                   
                    
                    <div class="mb-3">
                        <label for="Years of Experience" class="form-label">Years of Experience</label>
                        <input type="text" class="form-control" id="Years of Experience" placeholder="00">
                    </div>

                    <div class="mb-3">
                        <label for="Upload CV" class="form-label">Upload CV</label>
                        <input type="file" accept="application/pdf" class="form-control" id="Upload CV" placeholder="PDF Format">
                    </div>

                    <div class="mb-3">
                        <button type="button" class="btn btn-primary">Register</button>
                        Existing User?<a href="#">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>